
/*基本样式类*/
body,html {
  height:100%;
  -webkit-tap-highlight-color:transparent
}
a {
   color: #10aeff;
   text-decoration: none;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:active {
  color: #10aeff;
}
::-webkit-input-placeholder {
  color: #CCCCCC; }
.baseline {
  vertical-align: baseline; }

.middle {
  vertical-align: middle; }

.top {
  vertical-align: top; }

.block {
  display: block; }

.show {
  display: block; }

.hide {
  display: none; }

.inline {
  display: inline; }

.iblock {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.tleft {
  text-align: left; }

.tright {
  text-align: right; }

.tcenter {
  text-align: center; }

.center {
  margin:0 auto; }

.border {
  border: 1px solid #e0e0e0 !important; }
.border-t {
  border-top: 1px solid #e0e0e0;
}

.border-b {
  border-bottom: 1px solid #e0e0e0;
}

.border-tb {
  border-top: #e0e0e0 1px solid;
  border-bottom: #e0e0e0 1px solid;
  background-image: none;
}

.border-l {
  border-left: 1px solid #e0e0e0;
}

.border-r {
  border-right: 1px solid #e0e0e0;
}
.border-radius {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}
.dotted {
  border: 1px dotted #e0e0e0 !important; }
.dotted-b {
  border-bottom: 1px dotted #e0e0e0 !important; }
.hand {
  cursor: pointer; }

.move {
  cursor: move; }

.u {
  text-decoration: underline; }

.del {
  text-decoration: line-through; }

.-u{
  text-decoration: none; }

.i {
  font-style: italic; }

.-i {
  font-style: normal; }

.bold {
  font-weight: bold; }

.-bold {
  font-weight: normal; }

.-wrap {
  white-space: nowrap;
  word-break: break-all;
  overflow: hidden; }

.wrap {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

.clearfix:after, .clearfix:before {
  display: table;
  content: " "; }

.clearfix:after {
  clear: both; }

.upper {
  text-transform: uppercase; }

.lower {
  text-transform: lowercase; }

.cap {
  text-transform: capitalize; }

.hidden {
  overflow: hidden; }

.visible {
  overflow: visible; }

.rel {
  position: relative; }

.abs {
  position: absolute; }

.fixed {
  position: fixed; }

.indent {
  text-indent: 20px; }

.lheight {
  line-height: 22px; }

.outline {
  outline: none;}

.ell {
  text-overflow: ellipsis;
  overflow: hidden; }

.yahei {font-family: "Microsoft YaHei"; }
.hr1 {
  width:100%;
  margin:0 auto;
  border: 0;
  height:0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.v-center{
  display:flex;align-items: center;justify-content:center;
}
.req:before{
  content: ' *';
  color: #fa5151;
  font-weight:bold;
}

/*页面整体样式*/
.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
}
.page-bg{
  background-color: #F8F8F8;
}
.page-bd-15{
  padding: 0 15px;
}
.page-hd,padding20{
  padding: 20px;
}
.page-bd,padding0{
  padding:0;
}
.padding5{padding: 5px;}
.padding10{padding:10px;}
.padding15{padding:15px;}

.margin5{margin:5px;}
.margin10{margin:10px;}
.margin15{margin:15px;}
.margin20{margin:20px;}
.page-hd-title{
  text-align: left;
  font-size: 20px;
  font-weight: 400;
}
.page-hd-desc {
  margin-top: 5px;
  color: #888888;
  text-align: left;
  font-size: 14px;
}

/*
home折叠面板*/
.collapse li {
  background-color: #fff;
  border-radius: 2px;
  cursor: pointer;
  margin: 10px 10px;
  overflow: hidden;
  vertical-align: bottom;
  display: block;
}
.collapse li.js-show .weui-flex {
  opacity: 0.4;
}
.collapse li.js-show .page-category {
  height: auto;
}
.collapse li.js-show .page-category-content {
  opacity: 1;
  transform: translateY(0px);
}
.collapse li:first-child {
  margin-top: 0;
}
.collapse .page-category {
  height: 0;
  overflow: hidden;
}
.collapse .page-category-content {
  opacity: 0;
  transform: translateY(-50%);
  transition: 0.3s;
}
.collapse .weui-flex {
  align-items: center;
  padding:10px;
  transition: all 0.3s ease 0s;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
}
.collapse .weui-flex--item {
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
}
.collapse .weui-cells {
  margin-top: 0;
}
.collapse .content{
  font-size: 16px;
  text-indent: 2em;
  margin: .5em auto;
  padding:0 0.5em;
}
/* accordion右端图标  */
.collapse li img {
	width: 40px;
	height: 40px
}