@CHARSET "UTF-8";

html{overflow-x: hidden;}
html,body{margin:0;padding:0;width:100%;height:100%;background-color:#f2f2f2;}
body{max-width:640px;margin:0 auto;position:relative;font: .85em/1.4 "微软雅黑","Microsoft Yahei",'Arial','san-serif';color: #666;}
img{max-width:100%;height:auto;width:100%;-ms-interpolation-mode:bicubic;vertical-align: middle;}
ul,li,ol{list-style:none;padding:0;margin:0;}
p{padding:0 20px;margin:0;}
a{color:#666;text-decoration:none;}

/*slider*/
#sliderBox{position:relative;width:100%;overflow:hidden;}
#arrow {position:absolute;bottom:10px;right:10px;}
#arrow li{width:5px;height:5px;float:left;display:inline-block;margin: 0 5px;background-color: #d5dbd6;border-radius: 50%;-webkit-border-radius: 50%;}
#arrow li.active{background-color:#c95122;}

/* 文字效果fadeIn */
/* loading图片居中  */
#loadingImg {
  position: absolute;
  margin: auto;
  left: 0; right: 0; top: 0; bottom: 0;
  width:50px;height:50px;
}
#loadingText {
  width:100%;height:100%;top:50px;
  text-align:center;
}
